# <font color="purple"><h3 align="center">Subscribe_Code Basic</h3></font>

# Python Pandas Tutorial for Beginners

## What is Pandas?

- Pandas is a python package / library 
- Pandas is a library for data manipulation and analysis
- Two main data structures: the Series and DataFrame

In [3]:
# # Visual representation of Pandas

# import os
# from IPython.display import Image
# PATH = "F:\\Github\\Python tutorials\\Introduction to Pandas\\"
# Image(filename = PATH + "pandas.png", width=300, height=300)

## Tutorial Overview

### Video 1
1. What is a Panda's Series
2. What is a Dataframe
3. Creating DataFrames
4. Loading a CSV into a DataFrame
5. Basic methods for investigating/viewing a DataFrame

### Video 2
6. Column Filtering
7. Row Filtering
8. Filtering / Slicing
9. Sorting the DF
10. Summarising / Aggregating Data
11. Creating New Calculated Fields

## Importing / Installing packages

In [1]:
# Packages / libraries
import os #provides functions for interacting with the operating system
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import piplite
await piplite.install('seaborn')
import seaborn as sns

# To install Pandas type "pip install pandas" to the anaconda terminal

## 1. What is Panda's Series

Series is a one-dimensional object (similar to a vector)

In [2]:
# Creating a Series by passing in a list without the Index
s = pd.Series(['28', '1.79', 'Yiannis'])
s

0         28
1       1.79
2    Yiannis
dtype: object

In [3]:
# Creating a Series by passing in a list & the Indexs
s = pd.Series(['28', '1.79 cm', 'Yiannis'], index=['Age', 'Height', "Name"])
s

Age            28
Height    1.79 cm
Name      Yiannis
dtype: object

In [4]:
# Indexing / filtering the Series
s['Name']

'Yiannis'

## 2. What is a Dataframe

DataFrame is like an Excel table / PivotTable. It is a tabular data structure comprised of rows and columns

## 3. Creating a DataFrame

In [7]:
# Manually

df = pd.DataFrame(columns = ["Name", 'Gender','Age','Height'])
df

Empty DataFrame
Columns: [Name, Gender, Age, Height]
Index: []

In [8]:
# Passing Values in the DataFrame
df.loc[0] = ["Joe", "Male", 23, 1.70]
df.loc[1] = ["Tom", "Male", '50', 1.80]
df.loc[2] = ["Tine", "Female", 93, 1.79]
df

   Name  Gender Age  Height
0   Joe    Male  23    1.70
1   Tom    Male  50    1.80
2  Tine  Female  93    1.79

In [9]:
# Creating DataFrame from a List
a_list = [["Joe", "Male", 23, 1.70], ["Tom", "Male", '50', 1.80]]
a_list

df = pd.DataFrame(a_list, columns = ["Name", 'Gender','Age','Height'])
df

  Name Gender Age  Height
0  Joe   Male  23     1.7
1  Tom   Male  50     1.8

In [10]:
# Creating DataFrame from an Array
a = np.arange(15).reshape(5,3)
print(a)

df = pd.DataFrame(a, columns = ["A", 'B','C'])
df

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [11]:
# Transpose a DataFrame

#method 1
df.T

# method 2
np.transpose(df)

   0  1  2   3   4
A  0  3  6   9  12
B  1  4  7  10  13
C  2  5  8  11  14

## 4. Loading a CSV file into a DataFrame

In [13]:
# This is to find out your current directory
cwd = os.getcwd()
cwd

'/drive/notebooks/Pandas Library'

In [14]:
# Loading the data
import pandas as pd
import numpy as np
raw_data=pd.read_csv('Marketing Raw Data.csv')
# runs all the data
raw_data
#runs the first 5 rows
raw_data.head(1)
#runs the number of rows you select
raw_data.head(5)

         Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
0  09/11/2020     Monday       707     5211          651.375        No Promo
1  10/11/2020    Tuesday      1455    10386         1298.250   Promotion Red
2  11/11/2020  Wednesday      1520    12475         1559.375  Promotion Blue
3  12/11/2020   Thursday      1726    14414         1801.750        No Promo
4  13/11/2020     Friday      2134    20916         2614.500        No Promo

## 5. Basic methods for investigating/viewing a DataFrame

In [4]:
# Display the last N number of rows
raw_data.tail(5)

           Date   Day_Name  Visitors  Revenue  Marketing Spend          Promo
177  05/05/2021  Wednesday      1400    11196      1119.600000       No Promo
178  06/05/2021   Thursday      2244    18611      2067.888889  Promotion Red
179  07/05/2021     Friday      2023    14502      1450.200000       No Promo
180  08/05/2021   Saturday      1483     8975      1121.875000       No Promo
181  09/05/2021     Sunday      1303     6968       871.000000       No Promo

In [5]:
# Shape
raw_data.shape

(182, 6)

In [6]:
# Displays the information for our DF
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             182 non-null    object
 1   Day_Name         182 non-null    object
 2   Visitors         182 non-null    int64
 3   Revenue          182 non-null    int64
 4   Marketing Spend  182 non-null    float64
 5   Promo            182 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 6.5+ KB

In [7]:
# Converting Date to Date
raw_data['Date'] = pd.to_datetime(raw_data['Date'], format='%d/%m/%Y')
raw_data
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             182 non-null    datetime64[ns]
 1   Day_Name         182 non-null    object
 2   Visitors         182 non-null    int64
 3   Revenue          182 non-null    int64
 4   Marketing Spend  182 non-null    float64
 5   Promo            182 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 7.2+ KB

In [8]:
# Displays the summary statistics for all numeric columns
raw_data.describe()

          Visitors       Revenue  Marketing Spend
count   182.000000    182.000000       182.000000
mean   1666.730769  12991.840659      1396.356564
std     503.528049   5883.117597       691.867416
min     488.000000   2898.000000       322.000000
25%    1339.000000   8808.500000       880.431250
50%    1546.000000  11547.500000      1223.900000
75%    2027.500000  15816.500000      1676.450000
max    4139.000000  36283.000000      4535.375000

## 6. Column Filtering

In [9]:
# Exmp 1 - Series
raw_data['Visitors'].head()

0     707
1    1455
2    1520
3    1726
4    2134
Name: Visitors, dtype: int64

In [10]:
# Exmp 2 - Series
raw_data.Visitors.head()

0     707
1    1455
2    1520
3    1726
4    2134
Name: Visitors, dtype: int64

In [12]:
# Exmp 3 -  Data Frame
type(raw_data[['Visitors']])

# Exmp 4 -  Data Frame 2 columns +
raw_data[['Visitors', 'Revenue','Marketing Spend']].head()

   Visitors  Revenue  Marketing Spend
0       707     5211          651.375
1      1455    10386         1298.250
2      1520    12475         1559.375
3      1726    14414         1801.750
4      2134    20916         2614.500

In [15]:
# Creating an Array from a df column

# exm 1
np.array(raw_data[['Visitors']])

# exm 2
raw_data[['Visitors']].values

raw_data[['Visitors']].sum()

np.sum(raw_data[['Visitors']])

Visitors    303345
dtype: int64

## 7. Row Filtering

In [16]:
# Exmp 1
raw_data[0:5]

         Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
0  09/11/2020     Monday       707     5211          651.375        No Promo
1  10/11/2020    Tuesday      1455    10386         1298.250   Promotion Red
2  11/11/2020  Wednesday      1520    12475         1559.375  Promotion Blue
3  12/11/2020   Thursday      1726    14414         1801.750        No Promo
4  13/11/2020     Friday      2134    20916         2614.500        No Promo

In [17]:
# Exmp 2
raw_data.loc[0:5]

         Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
0  09/11/2020     Monday       707     5211          651.375        No Promo
1  10/11/2020    Tuesday      1455    10386         1298.250   Promotion Red
2  11/11/2020  Wednesday      1520    12475         1559.375  Promotion Blue
3  12/11/2020   Thursday      1726    14414         1801.750        No Promo
4  13/11/2020     Friday      2134    20916         2614.500        No Promo
5  14/11/2020   Saturday      1316    12996         1444.000  Promotion Blue

## 8. Filtering / Slicing

In [19]:
# Select all the data when the day is Monday

# exmp 1
raw_data[raw_data['Day_Name'] == 'Monday']

# exmp 2
raw_data[raw_data.Day_Name == 'Monday'].head()

          Date Day_Name  Visitors  Revenue  Marketing Spend           Promo
0   09/11/2020   Monday       707     5211       651.375000        No Promo
7   16/11/2020   Monday      1548    10072      1119.111111        No Promo
14  23/11/2020   Monday      2632    34278      4284.750000  Promotion Blue
21  30/11/2020   Monday      1541     9144      1016.000000        No Promo
28  07/12/2020   Monday      1584     9612       961.200000   Promotion Red

In [20]:
# Select all the data when the day is Marketing Spend > 1000

# exmp 1
raw_data[raw_data['Marketing Spend'] > 1000].head()

#raw_data.shape

         Date   Day_Name  Visitors  Revenue  Marketing Spend           Promo
1  10/11/2020    Tuesday      1455    10386         1298.250   Promotion Red
2  11/11/2020  Wednesday      1520    12475         1559.375  Promotion Blue
3  12/11/2020   Thursday      1726    14414         1801.750        No Promo
4  13/11/2020     Friday      2134    20916         2614.500        No Promo
5  14/11/2020   Saturday      1316    12996         1444.000  Promotion Blue

In [21]:
# Select all the data when the day is Marketing Spend > 1000 & Promo = "No Promo"

# exmp 1 - 2 conditions
raw_data[(raw_data['Marketing Spend'] > 1000) & (raw_data['Promo'] == 'No Promo')].head()

          Date  Day_Name  Visitors  Revenue  Marketing Spend     Promo
3   12/11/2020  Thursday      1726    14414      1801.750000  No Promo
4   13/11/2020    Friday      2134    20916      2614.500000  No Promo
7   16/11/2020    Monday      1548    10072      1119.111111  No Promo
10  19/11/2020  Thursday      2321    17660      1605.454545  No Promo
21  30/11/2020    Monday      1541     9144      1016.000000  No Promo

## 9. Sorting the DF

In [22]:
# Exmp 1 - by Date
raw_data.sort_values(by = 'Date')

# Exmp 2 - passing it back v1
raw_data = raw_data.sort_values(by = 'Date')

# Exmp 3 - passing it back v2
raw_data.sort_values(by = 'Date', inplace = True)

# Exmp 4 - by Rev asc
raw_data.sort_values(by = 'Revenue')

# Exmp 5 - by Rev desc
raw_data.sort_values(by = 'Revenue', ascending = False, inplace = True)

raw_data.head()

           Date  Day_Name  Visitors  Revenue  Marketing Spend           Promo
47   26/12/2020  Saturday      2678    36283      4535.375000  Promotion Blue
14   23/11/2020    Monday      2632    34278      4284.750000  Promotion Blue
59   07/01/2021  Thursday      4139    30146      3014.600000        No Promo
124  13/03/2021  Saturday      2732    28196      3524.500000  Promotion Blue
109  26/02/2021    Friday      2553    26608      2418.909091  Promotion Blue

## 10. Aggregating the DF

In [23]:
# Exmp 1 - Total Revenue
raw_data['Revenue'].sum()
np.sum(raw_data['Revenue'])

# Exmp 2 - Average Visitors
raw_data['Visitors'].mean()

# Exmp 3 - Max Marketing Spend
raw_data['Marketing Spend'].min()

322.0

In [24]:
# Sum of Revenue by Day Name

# option 1 - Series
raw_data.groupby('Day_Name')['Revenue'].sum()

# option 2 - df
a = raw_data.groupby('Day_Name', as_index = False).agg({'Revenue':'sum'})
a

    Day_Name  Revenue
0     Friday   447823
1     Monday   270080
2   Saturday   285171
3     Sunday   286458
4   Thursday   491323
5    Tuesday   261206
6  Wednesday   322454

In [26]:
# Sum of Revenue by Day Name & number of Data points
a = raw_data.groupby('Day_Name', as_index = False).agg({'Revenue':'sum', 'Date':'count'})

# Renaming columns v1
#a.columns = ['Day_Name','Revenue','Count of Datapoints']
#a

# Renaming columns v1
a.columns = a.columns.str.replace('Date', 'Count of Datapoints')

In [27]:
raw_data.columns

Index(['Date', 'Day_Name', 'Visitors', 'Revenue', 'Marketing Spend', 'Promo'], dtype='object')

In [28]:
# avg Summary by Promo
raw_data.groupby('Promo', as_index = False).agg({'Revenue':'mean', 'Visitors':'mean', 'Marketing Spend':'mean'})

            Promo       Revenue     Visitors  Marketing Spend
0        No Promo  10945.229730  1627.648649      1176.664264
1  Promotion Blue  16754.185185  1790.907407      1829.731425
2   Promotion Red  12034.111111  1596.111111      1264.041522

In [30]:
# Sum the revenue by Promo when the Day Name = 'Saturday'
raw_data[raw_data['Day_Name'] == 'Saturday'].groupby('Promo', as_index = False).agg({'Revenue':'mean', 'Visitors':'mean', 'Marketing Spend':'mean'})

            Promo       Revenue     Visitors  Marketing Spend
0        No Promo   8128.000000  1302.818182       839.546511
1  Promotion Blue  16429.000000  1666.125000      1940.668056
2   Promotion Red   9190.142857  1285.857143       953.681061

In [31]:
raw_data.head()

           Date  Day_Name  Visitors  Revenue  Marketing Spend           Promo
47   26/12/2020  Saturday      2678    36283      4535.375000  Promotion Blue
14   23/11/2020    Monday      2632    34278      4284.750000  Promotion Blue
59   07/01/2021  Thursday      4139    30146      3014.600000        No Promo
124  13/03/2021  Saturday      2732    28196      3524.500000  Promotion Blue
109  26/02/2021    Friday      2553    26608      2418.909091  Promotion Blue

## 11. Creating New Calculated Fields

In [32]:
# Revenue per Visitor
raw_data['Revenue per Visitor'] = raw_data['Revenue'] / raw_data['Visitors']
raw_data.head()

,Date,Day_Name,Visitors,Revenue,Marketing Spend,Promo,Revenue per Visitor
47,26/12/2020,Saturday,2678,36283,4535.375000,Promotion Blue,13.548544
14,23/11/2020,Monday,2632,34278,4284.750000,Promotion Blue,13.023556
59,07/01/2021,Thursday,4139,30146,3014.600000,No Promo,7.283402
124,13/03/2021,Saturday,2732,28196,3524.500000,Promotion Blue,10.320644
109,26/02/2021,Friday,2553,26608,2418.909091,Promotion Blue,10.422248

In [33]:
# Revenue per Spend
raw_data['Revenue per Spend'] = raw_data['Revenue'] / raw_data['Marketing Spend']
raw_data.head()

raw_data['Aasdfsad'] = raw_data['Revenue'] / raw_data['Marketing Spend']
raw_data.head()

,Date,Day_Name,Visitors,Revenue,Marketing Spend,Promo,Revenue per Visitor,Revenue per Spend,Aasdfsad
47,26/12/2020,Saturday,2678,36283,4535.375000,Promotion Blue,13.548544,8.0,8.0
14,23/11/2020,Monday,2632,34278,4284.750000,Promotion Blue,13.023556,8.0,8.0
59,07/01/2021,Thursday,4139,30146,3014.600000,No Promo,7.283402,10.0,10.0
124,13/03/2021,Saturday,2732,28196,3524.500000,Promotion Blue,10.320644,8.0,8.0
109,26/02/2021,Friday,2553,26608,2418.909091,Promotion Blue,10.422248,11.0,11.0

In [34]:
# Deleting a column
del raw_data['Aasdfsad']
raw_data.head()

,Date,Day_Name,Visitors,Revenue,Marketing Spend,Promo,Revenue per Visitor,Revenue per Spend
47,26/12/2020,Saturday,2678,36283,4535.375000,Promotion Blue,13.548544,8.0
14,23/11/2020,Monday,2632,34278,4284.750000,Promotion Blue,13.023556,8.0
59,07/01/2021,Thursday,4139,30146,3014.600000,No Promo,7.283402,10.0
124,13/03/2021,Saturday,2732,28196,3524.500000,Promotion Blue,10.320644,8.0
109,26/02/2021,Friday,2553,26608,2418.909091,Promotion Blue,10.422248,11.0

In [35]:
# Spend per visitor
raw_data['Spend per visitor'] = raw_data['Marketing Spend'] / raw_data['Visitors']

raw_data.head()

,Date,Day_Name,Visitors,Revenue,Marketing Spend,Promo,Revenue per Visitor,Revenue per Spend,Spend per visitor
47,26/12/2020,Saturday,2678,36283,4535.375000,Promotion Blue,13.548544,8.0,1.693568
14,23/11/2020,Monday,2632,34278,4284.750000,Promotion Blue,13.023556,8.0,1.627945
59,07/01/2021,Thursday,4139,30146,3014.600000,No Promo,7.283402,10.0,0.728340
124,13/03/2021,Saturday,2732,28196,3524.500000,Promotion Blue,10.320644,8.0,1.290081
109,26/02/2021,Friday,2553,26608,2418.909091,Promotion Blue,10.422248,11.0,0.947477

In [36]:
raw_data.groupby('Promo', as_index = False).agg({'Revenue per Spend':'sum'})

            Promo  Revenue per Spend
0        No Promo              694.0
1  Promotion Blue              504.0
2   Promotion Red              526.0

In [37]:
a = raw_data.groupby('Promo', as_index = False).agg({'Revenue':'sum', 'Marketing Spend':'sum'})
a

a['Revenue per Spend'] = a['Revenue'] / a['Marketing Spend']
a

            Promo  Revenue  Marketing Spend  Revenue per Spend
0        No Promo   809947     87073.155555           9.301914
1  Promotion Blue   904726     98805.496969           9.156636
2   Promotion Red   649842     68258.242173           9.520345

More Details here: https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html

# <font color="purple"><h3 align="center">Subscribe_Shubhendra Vyas</h3></font>

# <font color="purple"><h3 align="center">Jupyter Notebook Markdown : Images, Videos, Links</h3></font>

https://www.youtube.com/watch?v=6ATDaLTQm6A&ab_channel=ShubhendraVyas

# What is markdown

<li>Markdown is a lightweight and popular Markup language</li>
<li>Used by data scientist and data analyst</li>
<li>Markup language is similar to Hypertext Markup Language(HTML) made of Markup tags</li>

# We are going to cover following :

1.  <a href="#1.-Headings">Headings</a>

2.  <a href="#2.-Blockquotes">Blockquotes</a>

3.  <a href="#3.-Mathematical Symbol">Mathematical Symbol</a>

4.  <a href="#4.-Line Break">Line Break</a>

5.  <a href="#5.-Bold and Italic Text">Bold and Italic Text</a>

6.  <a href="#6.-Horizontal Lines">Horizontal Lines</a>

7.  <a href="#7.-Ordered List">Ordered List</a>

8.  <a href="#8.-Unordered List">Unordered List</a>

9.  <a href="#9.-Internal and External Link">Internal and External Link</a>

10. <a href="#10.-Image">Image</a>

11. <a href="#11.-Video">Video</a>

## 1. Headings

# Markdown Intro , Title
## Markdown Intro, Major Headings
### Markdown Intro, Subheadings
#### Markdown Intro
##### Markdown Intro
###### Markdown Intro

<h1>Tagged Heading, Title h1</h1>
<h2>Tagged Heading, Major Headings h2</h2>
<h3>Tagged Heading, Subheadings h3</h3>
<h4>Tagged Heading h4</h4>
<h5>Tagged Heading, h5</h5>
<h6>Tagged Heading, h6</h6>

[<a href="#What is Markdown">Back to top</a>]

## 2. Blockquotes

Introduction to Jupyter Notebook
>Jupyter Notebook is famous for doing data analysis

[<a href="#What-is-Markdown">Back to top</a>]

## 3. Mathematical Symbol

In [ ]:
# The mathematical symbol is Markdown is included in '$/mathematical expression goes here $' enclosed in a dollar symbol 
# Explore more on following link:
# https://personal.math.ubc.ca/~pwalls/math-python/jupyter/latex/

$x_n$

[<a href="#What-is-Markdown">Back to top</a>]

## 4. Line Break

The line breaks after using <br> br tags and it is awesome.

[<a href="#What-is-Markdown">Back to top</a>]

## 5. Bold and ltalic Text

**Jupyter Bold Text**

__Jupyter Bold Text__

*Pyhton Italic Text*

_Pyhton Italic Text_

[<a href="#What-is-Markdown">Back to top</a>]

## 6. Horizontal Lines

---
Horizontal Line Syntax in Jupyter Notebook
---

[<a href="#What-is-Markdown">Back to top</a>]

## 7. Ordered List

1. Python
2. Java
3. Julia

<ol>
<li>Python</li>
<li>Java</li>
<li>Julia</li>

[<a href="#What-is-Markdown">Back to top</a>]

## 8. Unordered List

- Java
- Pyhton
- HTML

<ul>
<li>Java</li>
<li>Python</li>
<li>HTML</li>
</ul>

[<a href="#What-is-Markdown">Back to top</a>]

## 9. Internal and External Link

In [ ]:
# <a href="#9. -Internal-and-External-Link">Internal and External Link</a>
### 9. Internal and External Link

# <a> href="https://twitter.com/home" >Visit Twitter</a>

<a href="https://twitter.com/home" >Visit Twitter</a>

[<a href="#What-is-Markdown">Back to top</a>]

# 10. Image

![python1.jpg](attachment:python1.jpg)

<img src="python1.jpg" width="300" height="168">

[<a href="#What-is-Markdown">Back to top</a>]

# 11.Video

<video controls src="Python_ides.mp4" width="500" height="340" />

[<a href="#What-is-Markdown">Back to top</a>]

# Thank You

# Happy Learning

# Stay Safe

[<a href="#What-is-Markdown">Back to top</a>]

# <font color="purple"><h3 align="center">Subscribe_Edlitera</h3></font>

## How to Use Markdown in Jupyter Notebook

# Bold Text

**this is bold text**

# Italic Text

_this is italic text_

# Bold and Italic Text

**_this is both bold and italic_**

# Soft Breaks

Two households, both a like in dignity,
In fair Verona, where we lay our scene, 
From ancient grudge break to new mutiny,
Where civil blood makes civil hands unclean.

# Hard Breaks

In the centre of the room, clamped to an upright easel, stood the full-length portrait of a young man of extraordinary personal beauty, and in front of it, some little distance away, was sitting the artist himself, Basil Hallward, whose sudden disappearance some years

In the centre of the room, clamped to an upright easel, stood the full-length portrait of a young man of extraordinary personal beauty, and in front of it, some little distance away, was sitting the artist himself, Basil Hallward, whose sudden disappearance some years

# Links

[this is a link to Edliteral](https://www.edlitera.com/)

# Images

![image of a cat sitting on a chair](https://assets3.thrillist.com/v1/image/2560276/1584x912/scale;webp=auto;jpeg_quality=60;progressive.jpg)

# Block Quotes

> Use the word at the end of each gap to form a new word with which to fill the gap. While doing this exercise, look for clues which tell you what kind of word is missing (adjective, noun, verb, adverb). Make sure to take into consideration forms using various prefixes and suffixes, as well as negative forms. Once you have decided on the correct form of the word, click on the arrow in the gap to check your answer.**K Girish Nag**

# Ordered Lists

1. item one
2. item two
3. item three

# UnOrdered Lists

* item one
* item two
* item three

# Nested Lists

* item one
   1. subitem one
   1. subitem two
        * level three
            * level four
* item two
    * level two
    * another level two
* item three

# <font color="purple"><h3 align="center">Subscribe_Roshan</h3></font>
# Markdown & LaTeX - Jupyter Tutorial

# Tutorial Brief

This covers the basics of using markdown cells. You can think of markdown cells as documention for your code with extended features.
####Finding Help:

- http://ipython.org/ipython-doc/2/interactive/tutorial.html
- http://nbviewer.ipython.org/

#Markdown Cells

This cell can contain markdown language and render it.

A good reference for markdown is in this link:
https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

###Most common markdown codes:

#Head 1
##Head 2
###Head 3
####Head 4

Alt Heading 1
============

Alt Heading 2
------------

```markdown
#Head 1
##Head 2
###Head 3
####Head 4

Alt Heading 1
============

Alt Heading 2
------------
```

###Font Styles:
 - *Italic*
 - _Italic_
 - **Bold**
 - __Bold__
 - ~~Throught~~

```markdown
- *Italic*
- _Italic_
- **Bold**
- __Bold__
- ~~Throught~~
```

####Lists:

- Item 1
- Item 2

####Numbered List:

1. Item 1
2. Item 2
 1. Sub Item 1
 2. Sub Item 2
3. Item 3

```markdown
- Item 1
- Item 2

1. Item 1
2. Item 2
 1. Sub Item 1
 2. Sub Item 2
3. Item 3
```

####Links:

https://www.google.com

[Google](https://www.google.com)

[Google with tooltip](https://www.google.com "Google's Homepage")

```markdown
https://www.google.com

[Google](https://www.google.com)

[Google with tooltip](https://www.google.com "Google's Homepage")
```

####Images:

![Alt Text](http://www.google.com/logos/2012/turing-doodle-static.jpg "Alan Turing's 100th Birthday")

```markdown
![Alt Text](http://www.google.com/logos/2012/turing-doodle-static.jpg "Alan Turing's 100th Birthday")
```

####Code:

```python
s = "Python syntax highlighting"
print s
```

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```

<pre>
```python
s = "Python syntax highlighting"
print s
```

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
</pre>

####Tables:

| Website   | URL           | Rank |
| ---------:|:-------------:| ----:|
| Google    | google.com    | 1    |
| Facebook  | facebook.com  | 2    |
| Youtube   | youtube.com   | 3    |

```markdown
| Website   | URL           | Rank |
| ---------:|:-------------:| ----:|
| Google    | google.com    | 1    |
| Facebook  | facebook.com  | 2    |
| Youtube   | youtube.com   | 3    |
```

####Quotes
> ##Quote from some one else
> *with multiple lines*

```markdown
> ##Quote from some one else
> *with multiple lines*
```

####HTML
<hr>
<p>Almost any <strong>HTML</strong> code will render<br />Just <i>fine</i>.</p>M

```html
<hr>
<p>Almost any <strong>HTML</strong> code will render<br />Just <i>fine</i>.</p>
```

####Horizontal Lines
---
***
___

```markdown
---
***
___
```

###Unicode

If you can think of any symbol, it is available in unicode.

- ©
- ®
- ™

```markdown
©
®
™
```

##Markdown cell - Latex Script:

Latex is a languange to represent mathematical formula using text.

For Latex documentation please check the wiki:

http://en.wikibooks.org/wiki/LaTeX/Mathematics

###Inline and Block Latex

Inline Formula: $x=y$

Block Formula: $$x=y$$

```markdown
$x=y$
$$x=y$$
```

###Greek Letters
 - Alpha: $\alpha A$
 - Beta: $\beta B$
 - Gamma: $\gamma \Gamma$
 - Pi: $\pi \Pi \varpi$
 - Phi: $\phi \varphi \Phi$
 - Epsilon: $\epsilon \varepsilon$
 - Theta: $\theta \Theta \vartheta$
 - Rho: $\rho \varrho$
 - sigma: $\sigma \Sigma \varsigma$

```markdown
Alpha: $\alpha A$
Beta: $\beta B$
Gamma: $\gamma \Gamma$
Pi: $\pi \Pi \varpi$
Phi: $\phi \varphi \Phi$
Epsilon: $\epsilon \varepsilon$
Theta: $\theta \Theta \vartheta$
Rho: $\rho \varrho$
sigma: $\sigma \Sigma \varsigma$
```

###Basic operations

 - $y = x + 5$
 - $y = x - 5$
 - $y = 5x$
 - $y = x \times 5$
 - $y = \frac{x}{5}$
 - $y = x \div 5$

```markdown
$y = x + 5$
$y = x - 5$
$y = 5x$
$y = x \times 5$
$y = \frac{x}{5}$
$y = x \div 5$
```

###Power and Index

 - $y_n = x_n - x_{n-1}$
 - $y = x^2 - 2x^{x-1}$

```markdown
$y_n = x_n - x_{n-1}$
$y = x^2 - 2x^{x-1}$
```

###Fraction Type

 - $^1/_2$
 - $\frac {1}{2}$

```markdown
$^1/_2$
$\frac {1}{2}$
```

###Roots

 - $\sqrt{\frac{1}{3}}$
 - $\sqrt[3]{2x}$M

```markdown
$\sqrt{\frac{1}{3}}$
$\sqrt[3]{2x}$
```

###Sums and Integrals

 - Sum : $\sum\limits_{i=1}^{10} t_i$
 - Int : $\int\limits_a^b$
 - $\int_0^\infty \sin(x^2)$

```markdown
$\sum\limits_{i=1}^{10} t_i$
$\int\limits_a^b$
$\int_0^\infty \sin(x^2)$
```

# <font color="purple"><h3 align="center">Color</h3></font>

use this code: <font color=blue|red|green|pink|yellow>Text</font> Not all markdown code works within a font tag, so review your colored text carefully!

<font color=blue>Front color is blue</font>
<font color=red>Front color is red</font>
<font color=yellow>Front color is yellow</font>

# <font color="purple"><h3 align="center">Table</h3></font>

Measurements of x and y positions as a function of time.Insert measurements into a table.

| x- Position (m) | Y-Positon (m) | Time(s) |
| --------------- | ------------- | ------- |
|     4.0         |      5.0      |   2.0   | 
|     4.0         |      5.0      |   2.0   |

# <font color="purple"><h3 align="center">How to Generate Table of Content (TOC)</h3></font>

## Contents

1. [Introduction](#1.-Introduction)

    1.1 [Background](#1.1-Background)
    
    1.2 [Objectives](#1.2-Objectives)    
    
2. [Methods](#2.-Methods)

    2.1 [Models](#2.1-Models)
    
    2.2 [Data sampling](#2.2-Data-sampling)